<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/includes/bootstrap.min.css">
        <link rel="stylesheet" href="/includes/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="/includes/bootstrap.bundle.min.js"></script>
    </head>

    <body>
    <div class="wrapper">
        <div class="jumbotron text-center">
            <!--Navbar -->
            <nav class="mb-1 navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/index.html">
                                <i class="home"></i> Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact.html">
                                <i class="contact"></i> Contact Me</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--/.Navbar -->
            
            <div class="container-fluid">
                <h1>Jack Burrows</h1>
                <hr/>
                <p>Software Engineering Student <br>University of Central Lancashire (UCLan)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container shadow-lg p-3 mb-5 rounded">
                    <p><h1>Blog</h1></p>
                    <ul>
                        {% for post in site.posts %}
                        <li>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="col">
                <div class="container shadow-lg p-3 mb-5 rounded">
                    {{ content }}
                </div>
            </div>
            <div class="col">
                <div class="container shadow-lg p-3 mb-5 rounded">
                    <h1>Projects</h1>
                    <h3><a href="/ecksclone.html">EcksClone</a></h3>
                    <h3><a href="/site.html">Personal Website</a></h3>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>