<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>

    <body>
    <div class="wrapper">
        <div class="jumbotron text-center">
            <div class="container-fluid">
                <h1>Jack Burrows</h1>
                <hr/>
                <p>Software Engineering Student <br>University of Central Lancashire (UCLan)</p>
                <p><a href="index.html"><img class="img-fluid rounded-circle" src="img/pfp.PNG" alt="logo"></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container shadow-lg p-3 mb-5 rounded">
                    <h1>Contact Info</h1>
                    <p><img class="img-fluid" src="img/logos/github-resize.png" alt="github"> <a href="https://github.com/Jack-JB"> Github</a></p>
                    <p><img class="img-fluid" src="img/logos/mail-resize.png" alt="mail"> <a href="mailto:jackjb94@gmail.com"> Email</a></p>
                    <p><img class="img-fluid" src="img/logos/linkedin-resize.png" alt="linkedin"><a href="https://www.linkedin.com/in/jack-burrows-067b7b193/">LinkedIn</a></p>
                    
                </div>

            </div>
            <div class="col">
                <div class="container shadow-lg p-3 mb-5 rounded">
                    {{ content }}
                </div>
            </div>
            <div class="col">
                <div class="container shadow-lg p-3 mb-5 rounded">
                    <h1>Projects</h1>
                    <h3><a href="ecksclone.html">EcksClone</a></h3>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>